.header {
  max-width: 1184px;
  margin: 0 auto;
  padding: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 28px 48px 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px;
  }
}
