.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
