.place__paragraph {
  margin: 0 0 26px;
  grid-area: paragraph;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  color: #ffffff;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    margin: 0 0 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
