.footer__copyright {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 1;
  }
}
