.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 54px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}
