.place__link {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: underline;
  transition: opacity 0.5s linear;
  color: #ffffff;
}

.place__link:hover {
  opacity: 0.5;
}
