.cover__overlay {
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  z-index: 0;
}

.cover__overlay:before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.5;
  z-index: -1;
  transition: opacity 0.2s linear;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}