.cover__background {
  max-width: 1184px;
  max-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
