.lead__caption {
  margin: 8px 0 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}
